* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
    padding: 15px 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav {
    display: flex;
}



.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.section {
    padding: 40px 20px;
    text-align: center;
}
button{
    border:2px;
    padding: 10px;
    margin-left: 6px;

}



footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
    }

    nav a {
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    .hamburger {
        display: block;
    }

    nav.active {
        display: flex;
    }
}
